<div class="app-layout" style="display:flex; gap:16px; padding:16px;">
  <aside class="left-col" style="width:320px;">
    <h3>Artistas</h3>
    <app-artistas [artistas]="artistas" (artistaSeleccionado)="onArtistSelected($event)"></app-artistas>

    <div class="albums-list" style="margin-top:24px;">
      <h4 *ngIf="selectedArtist">Álbums de {{selectedArtist.nombre}}</h4>

      <ng-container *ngIf="albums && albums.length; else noAlbums">
        <app-Artista-album
          *ngFor="let a of albums"
          [album]="a"
          (openTracks)="onOpenTracks($event)"
          (toggleFavorite)="onToggleAlbumFavorite($event)"
          style="margin-bottom:12px;"
        ></app-Artista-album>
      </ng-container>

      <ng-template #noAlbums>
        <div *ngIf="selectedArtist">No hay álbumes para este artista.</div>
      </ng-template>
    </div>
  </aside>

  <main class="right-col" style="flex:1;">
    <h3 *ngIf="selectedAlbumTracks && selectedAlbumTracks.length">Canciones</h3>
    <app-Artista-listado
      [canciones]="selectedAlbumTracks"
      (toggleFavorite)="onToggleTrackFavorite($event)"
    ></app-Artista-listado>

    <div *ngIf="!selectedAlbumTracks || selectedAlbumTracks.length === 0" style="margin-top:16px;">
      <em>Selecciona un álbum y haz click en "Open tracks" para ver las canciones.</em>
    </div>
  </main>
</div>